{% extends 'base.html' %}

{% block content %}
    <div class="items">
        <div class="card_item">
            <div class="card__left">
                <div class="title"><a href="">K8S权威指南</a></div>
                <div class="desc"><a href="">Effective Debugging：软件和系统调试的66个有效方法pdf百度网盘下载地址?
                    本书共分8章。 首先讲解调试策略（第1章）、调试方法（第2章）以及调</a></div>
            </div>
            <div class="card__right">
                <img src="https://jsd.cdn.zzko.cn/gh/M-500/gin-blog@main/20231207/图片.1odly43a491c.webp"></img>
            </div>
        </div>
    <div class="card_item">
            <div class="card__left">
                <div class="title"><a href="">K8S权威指南</a></div>
                <div class="desc"><a href="">Effective Debugging：软件和系统调试的66个有效方法pdf百度网盘下载地址?
                    本书共分8章。 首先讲解调试策略（第1章）、调试方法（第2章）以及调</a></div>
            </div>
            <div class="card__right">
                <img src="https://jsd.cdn.zzko.cn/gh/M-500/gin-blog@main/20231207/图片.1odly43a491c.webp"></img>
            </div>
        </div>
    <div class="card_item">
            <div class="card__left">
                <div class="title"><a href="">K8S权威指南</a></div>
                <div class="desc"><a href="">Effective Debugging：软件和系统调试的66个有效方法pdf百度网盘下载地址?
                    本书共分8章。 首先讲解调试策略（第1章）、调试方法（第2章）以及调</a></div>
            </div>
            <div class="card__right">
                <img src="https://jsd.cdn.zzko.cn/gh/M-500/gin-blog@main/20231207/图片.1odly43a491c.webp"></img>
            </div>
        </div>
    <div class="card_item">
            <div class="card__left">
                <div class="title"><a href="">K8S权威指南</a></div>
                <div class="desc"><a href="">Effective Debugging：软件和系统调试的66个有效方法pdf百度网盘下载地址?
                    本书共分8章。 首先讲解调试策略（第1章）、调试方法（第2章）以及调</a></div>
            </div>
            <div class="card__right">
                <img src="https://jsd.cdn.zzko.cn/gh/M-500/gin-blog@main/20231207/图片.1odly43a491c.webp"></img>
            </div>
        </div>
    </div>
{% endblock %}